.accordion-button {
    padding: 1rem;
    background: white;
    transition: background 0.25s ease;
}

.accordion-button:hover{
    background: whitesmoke;
    cursor: pointer;
}

.accordion-button:not(.collapsed) {
  background-color: whitesmoke;
  color: black;
}

.addNewPlantButton {
    padding:1rem;
    color: gray;
    transition: background 0.25s ease; 
    transition: color 0.25s ease;
}

.addNewPlantButton:hover {
    color: black;
    background: whitesmoke;
    cursor: pointer;
}

.plantDescriptionText {
    color: gray;
    font-style: italic;
}
